body{
    background-color:  hsl(228, 33%, 97%);
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}


.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.comment{
    background: white;
    border-radius: 5px;
    margin: 20px;
    display: flex;
    align-items: flex-start;
}

.comment-section{
    margin: 20px;
    margin-left: 0;
}


button{
    border: none;
    background-color: transparent;
}

.comment-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.info>*{
    margin-right: 20px;
}

.info{
    display: flex;
    align-items: center;
}

.user-img{
    height: 32px;
    width: 32px;
}

button>*{
    display: inline;
}



.score-section{
    text-align: center;
    background: hsl(223, 19%, 93%);
    border-radius: 10px;
    padding: 5px;
    line-height: 1.5;
    margin: 20px;
}

.reply-btn, .edit-btn{
    font-weight: 700;
    color: hsl(238, 40%, 52%);
}

.delete-btn{
    font-weight: 700;
    color:  hsl(358, 79%, 66%);
}

.user-name{
    color: hsl(212, 24%, 26%);
    font-weight: 700;
}

.timestamp{
    color: hsl(211, 10%, 45%);
    font-weight: 400;
}

.comment-content{
    color: hsl(211, 10%, 45%);
    font-weight: 400;
}

.score-value{
    color: hsl(238, 40%, 52%);
    font-weight: 500;
}

#comments-container{
    padding: 0;
    margin: 0;
    width: 50vw;
    margin: auto;
    
}

.reply{
    background: white;
    border-radius: 5px;
    margin: 20px;
    display: flex;
    align-items: flex-start;
}

.reply-contanier{
    border-left: 2px solid hsl(223, 19%, 93%);
    padding-left: 15px;
    margin-left : 55px;
}

.post-reply-card{
    background: white;
    border-radius: 5px;
    margin: 20px;
    display: flex;
    align-items: flex-start;
}

.btn {
    margin: 20px;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    background-color: hsl(238, 40%, 52%);
}

textarea{
    flex: 1;
    margin: 20px 0;
    resize: none;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    height: fit-content;
}

.reply-user-img{
    height: 48px;
    width: 48px;
    margin: 20px;
}